<html>
    <head>
        <title>About Kanye West</title>
        <link rel="stylesheet" type="text/css" href="/quotes/quotes_styles.css">
    </head>
    <body>
        <h1>About Kanye West</h1>
        <br />
        <button onclick="location.href='/'">Go back to the Home</button>
        <br />
        <button onclick="location.href='/quote/'">Get a random Kanye West Quote</button>
        <br />
        <button onclick="location.href='/show_all/'">See all Kanye West quotes and images</button>
        <br />
        
        <p class="special">Kanye West, also known as Ye, is an American rapper, singer, songwriter, record producer, fashion designer, and entrepreneur. He was born on June 8, 1977, in Atlanta, Georgia. He rose to fame in the early 2000s and has since become one of the most successful and influential musicians of all time.</p>
        <p class="special">West has released several critically acclaimed and commercially successful albums, including "The College Dropout," "Late Registration," "Graduation," "808s & Heartbreak," "My Beautiful Dark Twisted Fantasy," "Yeezus," "The Life of Pablo," and "Ye." He has also founded the record label GOOD Music and the fashion line Yeezy.</p>
        <p class="special">West is known for his outspoken and often controversial statements, as well as his work in fashion and design. He has been named one of the most influential people in the world by Time Magazine and has won numerous awards for his music, including 21 Grammy Awards.</p>
    </body>
    <br />
    <body>
 

    </body>

</html>

