<!--quotes/templates/quotes/base.html-->
{% load static %}
<html>
    <head>
        <title>Kanye West Quote and Image Generator</title>
        <link rel="stylesheet" type="text/css" href="quotes/quotes_styles.css">
            </head>    <body>
        <h1>Welcome to the Kanye/Ye West Page!</h1>
        <br />
        <a href='/quote/'><button>Get a random Kanye West quote and image</button></a>
        <br />
        <button onclick="location.href='/show_all/'">See all Kanye West quotes and images</button>
        <br />
        <button onclick="location.href='/about/'">About Page of Mr. West</button>
        <br />
    
        <h2>Here is my favorite Kanye West quote:</h2>
        <p>{{quote}}</p>
        <h2>Here is my favorite Kanye West image:</h2>
        <img src="{{image}}" alt="Kanye West" style="width:30%; height:auto;">
    </body>

    <p style="font-size: 0.5em; color: gray;">This is a satirical website and does not reflect the views of the actual Kanye West or any other individual or organization.</p>
</html>