<!--quotes/templates/quotes/quote.html-->

<html>
    <head>
        <title>Kanye West Random Quote</title>
        <link rel='stylesheet' type='text/css' href='/static/quotes/quotes_styles.css'>
    </head>
    <body>
        <h1>Welcome to the Kanye/Ye West Page!</h1>
        <br />
        <button onclick="location.reload()">Get another Kanye West quote and image</button>
        <br />
        <button onclick="location.href='/quotes/show_all/'">See all Kanye West quotes and images</button>
        <br />
        <button onclick="location.href='/quotes/about/'">About Page of Mr. West</button>
        <br />
        <h2>Here is a random Kanye West quote:</h2>
        <p>{{quote}}</p>
        <h2>Here is a random Kanye West image:</h2>
        <img src="{{image}}" alt="Kanye West" style="width:30%; height:auto;">
    </body>


</html>
